.chat-container {
  display: flex;
  flex-direction: row;
  padding-top: 56px;
  height: 100vh;
  width: 100%;
}

.chat-container-left {
  width: 30%;
}

.chat-container-right {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #DDBEA9;
  padding: 0px 10px 10px 10px;
}

.container-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.container-box > :first-child {
  margin-top: auto !important;
}

.convo-block {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 22px;
}

.convo-block:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.msgs-msg {
  color: gray;
  opacity: 0.8;
  margin: 10px 3px 10px;
  font-size: 18px;
}

.chat-container-right form {
  display: flex;
  padding-bottom: 5px;
}

.chat-container-left input {
  width: 100%;
  font-size: 14px;
  padding: 12px 10px 12px 3px;
  height: 42px;
}

.chat-container-right input {
  width: 88%;
  font-size: 16px;
  padding: 14px;
  padding-left: 20px;
  margin-right: 5px;
  outline: none;
  border: none;
  border-top-left-radius: 44px;
  border-bottom-left-radius: 44px;
}

.chat-container-right form button {
  background-color: rgb(107,112,92);
  border: none;
  outline: none;
  border-top-right-radius: 44px;
  border-bottom-right-radius: 44px;
  width: 12%;
  padding-right: 5px;
}

form button:hover {
  outline: 2px solid rgb(107,112,92);
}


/* === search result section === */

.search-results {
  position: absolute;
  background-color: white;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 30%;
  font-size: 20px;
  padding: 3px;
}

.search-result-row {
  padding: 5px;
}

.search-result-row:not(:last-child) {
  border-bottom: 1px solid darkgray;
}

.search-result-row:hover {
  background-color: darkgray;
}

.search-result-row:last-child:hover {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


/* === individual messages section === */

.owned-msg, .unowned-msg {
  width: 45%;
  height: fit-content;
  margin: 0px 10px 20px 5px;
  padding: 15px;
  border-radius: 15px;
}

/* we want all msgs sent by current user to be on the left */
.owned-msg {
  background-color: #A5A58D;
}

/* we want all msgs sent by current user to be on the right */
.unowned-msg {
  background-color: #CB997E;
  align-self: flex-end;
}

.msg-date {
  font-size: 14px;
  color: #3a3b3c;
  margin-bottom: 10px;
}
