.posts-grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 1200px;
  margin: auto;
}

.hero-center {
  width: 100%;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-btn {
  /* background-color: #CB997E; */
  background-color: rgba(100, 100, 100, 0);
  position: absolute;
  padding: 12px;
  border: none;
  border: 1.5px gray solid;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.hero-div {
  color: white;
  font-size: 4vw;
  font-weight: 700;
  font-family: 'Mochiy Pop P One', sans-serif;
  opacity: 0.9;
}

.hero-div-header {
  color: #ffba78;
  font-weight: 700;
  opacity: 1;
  font-size: 22px;
}

.hero-div-container {
  margin-right: 35vw;
  margin-bottom: 8vw;
}

.hero-btn:hover {
  cursor: pointer;
  border: 1px solid #CB997E;
}

.single-cat-container, 
.single-cat-container img {
  width: 70vw;
  height: 40vh;
  max-width: 650px;
  max-height: 550px;
}

.category-grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-top: 65vw;
}

.single-cat-container {
  margin-bottom: 30px;
}

.single-cat-container:hover {
  cursor: pointer;
}

.single-cat-container img{
  filter: brightness(80%);
}

@media only screen and (min-width: 1300px) {
  .single-cat-container, 
  .single-cat-container img {
    max-width: 450px;
    max-height: 350px;
  }

  .single-cat-container {
    margin: 10px;
  }

  .category-grid-container {
    padding-top: 61vw;
  }
} 


.single-cat-title {
  position: relative;
  background-color: rgba(100, 100, 100, 40);
  bottom: 5.4vh;
  background-color: #282828;
  opacity: 0.8;
  height: 5vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  font-size: 24px;
}
