.splash-main-container {
  color: white;
}

.cats-grid-container {
  width: 100%;
}

.posts-grid-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.hero-container {
  background-color: #CB997E;
  height: 35vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-container img {
  width: 50%;
  height: 80%;
  filter: brightness(70%);
  border-radius: 10%;
  margin-left: 5px;
  margin-right: 5px;
}

.hero-container img:hover {
  filter: brightness(80%);
}

.hero-btn {
  background-color: #CB997E;
  border: none;
  font-size: 20px;
}

.preview-title {
  bottom: 40px;
  top: 100px;
  color: white;
  font-size: 24px;
}

.post-title {
  position: relative;
  bottom: 40px;
  left: 120px;
}

.prev-img {
  width: 100%;
  height: 300px;
  padding: 10px;
  border-radius: 40px;
}

.post-prev-img {
  width: 250px;
  height: 250px;
  filter: brightness(60%);
  border-radius: 8px;
}

.post-prev-img:hover {
  filter: brightness(80%);
}

.post-container-img {
  width: 30vw;
  height: 30vw;
}

.cat-name {
  position: absolute;
  left: 65%;
  top: 40%;
}
