.post-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
}

.close-btn {
  position: absolute;
  top: 5px;
  left: 8px;
  background-color: white; /* needs to be the same as main modal background */
  border: none;
  outline: none;
}

.post-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.showPost-menu {
  position: absolute;
  top: 35px;
  right: -30px;
  display: flex;
  flex-direction: column;
  background-color: #282828;
  padding: 5px;
  border-radius: 5px;
}

.menu-hover:hover {
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .showPost-menu {
    width: 120px;
  }  
}

.showPost-btn {
  background-color: #282828;
  border: none;
  color: white;
  padding: 5px;
}

.showPost-btn:hover {
  background-color: gray;
  border-radius: 5px;
}

.post-container-left {
  width: 35vw;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding-right: 30px;
}

.post-container-content {
  width: 100%;
  padding: 10px;
  color: black;
}

.close-btn:hover {
  color: #CB997E;
}

.comments-container {
  margin-left: 20px;
  border: black 1px solid;
  height: 100%;
  width: 50vw;
}

.comments-header {
  background-color: lightgray;
  padding: 10px;
}

.comment-div {
  padding: 10px;
  border-bottom: 1px solid gray;
  margin-left: 10px;
  margin-right: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.comments-scroll {
  height: 76%;
  overflow-y: scroll;
  color: black;
}

.comment-btn {
  color: #CB997E;
  background-color: white;
  border:none;
  margin-bottom: 1px;
  margin-left: 5px;
}

.comment-btn:hover {
  border-bottom: 2px solid #CB997E;
  margin-bottom: 0px;
}

.edit-comment-div {
  height: 100px;
}

.edit-comment-form textarea {
  overflow: auto;
  height: 50px;
  width: 300px;
  resize: none;
}

.comment-create-container {
  width: 100%;
}

.create-comment-content {
  width: 100%;
  height: 60px;
  overflow: auto;
  resize: none;
  padding: 5px;
}

.create-comment-form {
  width: 100%;
  height: 60px;
}

.create-comment-submit {
  right: 50px;
  height: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  top: -35px;
  left: calc(100% - 30px);
  background-color: white;
}
