.create-post-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.create-form-input {
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-textarea {
  /* scroll on overflow (have a set width and height for textarea) */
  overflow-y: hidden;
  min-height: 100px;
  width: 100%;
}

.create-form-select {
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.create-form-main {
  display: flex;
  flex-direction: column;
  width: 475px;
  margin-top: 10px;
}

.upload-form {
  background-color: lightgray;
  box-shadow: inset 0 0 10px rgba(0, 0, 1, 0.3);
  border-radius: 10px;
  height: 475px;
  width: 475px;
}

.image-preview, .file-drop-zone {
  height: 475px;
  width: 475px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.image-preview {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.file-drop-zone {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 1, 0.3);
}

.create-submit-btn {
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 100%;
  margin-bottom: 100px;
  background-color: rgb(107, 112, 92);
  border: 2px solid #B7B7A4; 
}

.create-submit-btn:hover {
  border: 2px solid rgb(107, 112, 92); 
}

.input-err {
  background: #fff0f4;
  border: red 2px solid !important;
  outline: none;
}
