.create-post-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.create-form-input {
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  margin: 5px;
}

.form-textarea {
  /* scroll on overflow (have a set width and height for textarea) */
  overflow-y: hidden;
  min-height: 100px;
}

.create-form-main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 10px;
}

.upload-form {
  background-color: lightgray; /* TODO: change this */
  box-shadow: inset 0 0 10px rgba(0, 0, 1, 0.3);
  border-radius: 10px;
  height: 60vw;
  width: 60vw;
}

.image-preview, .file-drop-zone {
  height: 60vw;
  width: 60vw;
  border-radius: 10px;
  margin-bottom: 20px;
}

.image-preview {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.file-drop-zone {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 1, 0.3);
}

.create-submit-btn {
  border: none;
  border-radius: 10px;
  padding: 3px;
}
