.card-container {
  width: 70vw;
  max-width: 700px;
  margin-bottom: 30px;
  justify-content: center;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5); 
  border-radius: 5px;
  background-color: #DDBEA9;
  padding-top: 10px;
  margin-top: 60px;
  padding-bottom: 10px;
}

.card-headline-item {
  display: inline-block;
  padding: 5px;
}

.card-headline {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
}

.main-feed-img {
  /* these are the same (both vw) because we want 'responsive' square imgs */ 
  width: 70vw;
  height: 50vw;
  max-width: 700px;
  max-height: 400px;
  object-fit: cover;
}

.card-description {
  padding: 10px;
  height: 70px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  font-size: 15px;
}

.content-container {
  height: 300px;
  overflow-y: scroll;
}

.show-comments {
  padding: 5px 10px 0 10px;
  color: gray;
}

.border-top {
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.35);
}

.border-bottom {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.35);
}

.show-comments:hover {
  cursor: pointer;
}

.comment-content {
  font-weight: 100;
  font-size: 14px;
}

.bold-username {
  font-weight: bold;
  font-size: 16px;
}

.comment {
  padding: 15px;
  border-top: 1px solid gray;
}

.likes-counter {
  padding-left: 10px; 
}

.msg-icon {
  padding-left: 5px;
}

.msg-icon:hover {
  color: purple;
  cursor: pointer;
}
