.card-container {
  width: 60vw;
  max-width: 500px;
  margin-bottom: 30px;
  justify-content: center;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.5); 
  border-radius: 5px;
  background-color: #DDBEA9;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.card-container:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.card-headline-item {
  display: inline-block;
  padding: 5px;
}

.card-headline {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
}

.main-feed-img {
  /* these are the same (both vw) because we want 'responsive' square imgs */ 
  width: 60vw;
  height: 50vw;
  max-width: 500px;
  max-height: 400px;
}

.card-description {
  padding: 10px;
  height: 70px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  font-size: 15px;
}
